body{
    margin: 50px 60px;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.logo1{
width: 60px;
height: 60px;
align-self: center;
align-items: center;
}
.logo2{
    margin-top: 20px;
    width: 250px;
    height: 40px;
    align-self: center;
    align-items: center;
    }

.formulaire-search{
width: 100%;
height: 70px;
border:none;
background-color: #E5E5E5;
padding-left: 20px;
font-size: 22px;
font-weight: 400;
margin-bottom: 20px;
margin-top: 40px;
    }
    .icon-search{
       width: 30px;
       height: 40px;
       margin-left: 96%;
       margin-top: -140px;
    }
    #btn-success{
        background-color: #68D9A4;
        border: none;
    }
button{
 width: 180px; 
 height: 60px;
 margin-right: 20px; 
}
.icon-bas{
    width: 15px;
    height: 10px;
    margin-left: 20px;
}
#card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 60px;
      
}
.card{
 width: 450px;
 height: 460px;
 background-color: #E5E5E5;
 border-radius: 5px;
 border: none;
}
.card_title_time{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
.card_image{
    width: 450px;
    height:220px;
    background-color: #C7BEBE;
    border-radius: 5px 5px 0px 0px;

}
.card-title{
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow:hidden;
}
.card-time{
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
}
.card-description{
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px; 
    width: 40%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6; 
    text-overflow: ellipsis;
    overflow: hidden;
    
}
.icon-time{
    width: 18px;
    height: 18px;
    margin-top:20px;
    margin-right: 5px;
}
.div-time{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title-ingredients{
    font-size: 14px;
    font-weight: 700;
    margin-right: 2px;
}
.div-ingredients{
    display: flex;

}
.quantity-ingredients{
    font-size: 14px;
    font-weight: 600;
    margin-right: 1px;
}
.unit-ingredients{
    font-size: 14px;
    font-weight: 600; 
}

.div-title_quantity{
margin-top: 10px;
margin-left: 10px;
margin-right: 40px;
}
.title_quantity{
    display: flex;
    flex-direction: row;
}
#liste_ingredients{
    width: 50.3%;
    background-color:#0d6efd; 
    display: none; 
    margin-top: -25px;

}
.btn_ingredients{
margin-top: 20px;
font-size: 15px;
font-weight: 600;
background-color:#0d6efd;
border:none;
color: #E5E5E5;
width: 28%;
height: 5px;
text-align: left;
margin-left: 10px;
margin-bottom: 5px;
}
#liste_ustensiles{
    width: 50%;
    background-color:#dc3545; 
    display: none;
    margin-left: 409px;
    margin-top: -25px;
 
}
.btn_ustensils{
margin-top: 20px;
font-size: 17px;
font-weight: 500;
background-color:#dc3545 ;
border:none;
color: #E5E5E5;
text-align: left;
margin-left: 10px;
width: 28%;
height: 20px;
margin-bottom: 10px;
}
#liste_appareils{
    width: 50%;
    background-color: #68D9A4; 
    display: none;
    margin-left: 204px; 
    margin-top: -25px;  

}
.btn_appareils{
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
    background-color:#68D9A4 ;
    border:none;
    color: white;
    text-align: left;
    margin-left: 10px;
    width: 28%;
    height: 10px;
    }

    #ingredient-search{
        width: 180px;
        font-size: 18px;
        font-family: 600;
        border: none;
        height: 60px;
        margin-left: -2px;
        padding-left: 10px;
        background-color: #0d6efd;
        color:#fff;
        border-radius: 5px; 
    }
  button ::placeholder{
  color:#fff ;
   }
    #appareil-search{
        width: 180px;
        background-color:#68D9A4 ; 
        color:#fff;
        font-size: 18px;
        font-family: 1000;
        border: none;
        height: 60px;
        margin-left: -2px;
        padding-left: 10px;  
        border-radius: 5px; 
    }
    #ustensil-search{
        width: 178px;
        background-color: #dc3545; 
        color:#fff;
        font-size: 18px;
        font-family: 1000;
        border: none;
        height: 60px; 
        margin-left: -2px;
        padding-left: 10px;  
        border-radius: 5px; 
    }
    #button-ingredients{
        width: 180px;
        border: #0d6efd;
        border-radius: 5px;
        background-color: #0d6efd;
        margin-top: 40px;
        color:#fff
    }
    #button-appareils{
        width: 180px;
        border:#68D9A4;
        border-radius: 5px;
        background-color:#68D9A4;
        margin-top: 40px;
      color: #fff;
    }
    #button-ustensils{
        width: 180px;
        border:#dc3545;
        border-radius: 5px;
        background-color:#dc3545;
        margin-top: 40px;
        color: #fff;
        
    }
   .icon-bas{
    margin-left: 80%;
    margin-top: -90px;
   }
   .noRecipes{
    font-size: 19px;
    font-family: 1000;
    color: red;
   }
   .btn_ingredient_tag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 205px;
    height: 45px;
    background-color: #0d6efd;
    color:#fff;
    margin-right: 40px;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 11px;
    border-radius: 5px;
  
   }
   .btn_Ustensil_tag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 205px;
    height: 45px;
    background-color:#dc3545;
    color:#fff;
    margin-right: 40px;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 8px;
    border-radius: 5px;

   }
   .btn_appareils_tag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 180px;
    height: 45px;
    background-color:#68D9A4;
    color:#fff;
    margin-right: 40px;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 8px;
    border-radius: 5px;
   }
   .close_icon{
    width:35px;
    height:35px;
    filter: invert(1);
    padding-right: 10px;
    padding-bottom: 5px;
   }
   #liste_tag{
display: flex;
flex-direction: row;

   }