body{
    margin: 50px 100px;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.logo1{
width: 60px;
height: 60px;
align-self: center;
align-items: center;
}
.logo2{
    margin-top: 20px;
    width: 250px;
    height: 40px;
    align-self: center;
    align-items: center;
    }
.search{
width: 100%;
height: 70px;
background-color: #E5E5E5;
display: flex;
justify-content: space-between;
margin-bottom: 40px;
margin-top: 40px;
    }
.formulaire-search{
width: 100%;
height: 70px;
border:none;
background-color: #E5E5E5;
padding-left: 20px;
font-size: 22px;
font-weight: 400;
    }
    .icon-search{
       width: 30px;
       height: 30px;
       margin-right: 20px;
       margin-left: 20px;
       margin-top: 20px;
    }
    #btn-success{
        background-color: #68D9A4;
        border: none;
    }
button{
 width: 150px; 
 height: 60px;
 margin-right: 10px;
}
.icon-bas{
    width: 15px;
    height: 10px;
    margin-left: 20px;
}